@import url('https://fonts.googleapis.com/css2?family=Playfair Display:wght@500;600;700&family=Source+Code+Pro:wght@400;500&family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary-color: rgba(206, 122, 172);
    --secondary-color: rgba(10, 37, 44, 0.932);
    --third-color: rgba(245, 160, 211, 0.795);
    --white-tone: rgb(245, 245, 245); 
    --transform: all 200mm ease-in-out;
    --link-bg-color: rgba(250, 250, 250, 0.082);
    --heading-font-family: 'Playfair Display';
    --default-font-family: 'Poppins';
}

body {
max-width: auto;
}

.light-pink {
    color: var(--third-color);
}

.top-wrapper {
    background: linear-gradient(180deg, rgba(10, 37, 44, 0.932) 75%, rgba(5, 20, 26, 0.938) 100%);
    background-repeat: no-repeat;
    padding: 340px 0; 
    font-family: var(--default-font-family);
}

.top-wrapper h1 {
    font-size: 80px;
    font-family: var(--heading-font-family);
    letter-spacing: 0.02em;
}

.get-started a {
    border-radius: 10px;    
    background-color: var(--link-bg-color);
    padding: 18px 50px;  
    font-size: 20px;
    font-family: var(--default-font-family);
    color: var(--third-color);
    transition: all 200mm ease-in-out;
}

.get-started a:hover {
    color: rgb(253, 138, 207);
    background-color: var(--link-bg-color);
}

.projects-display h2 {
    font-family: var(--default-font-family);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}
    
.projects-display img {
    padding: 5px 0px;
    border-radius: 10px;
}

.project-description h3 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-weight: 600;
    font-size: 64px;
}

p {
padding: 20px 0px;
color: var(--primary-color);
font-family: var(--default-font-family);
font-weight: 400;
font-size: 20px;
line-height: 30px;
margin-bottom: 30px;
}

.launch-link {
display: 1 flex;
color: var(--primary-color);
border: rgb(201, 107, 163) solid 1px;
padding: 15px 30px;
border-radius: 10px;
text-decoration: none;
transition: var(--transform);
}

.launch-link:hover {
background-color: var(--primary-color);
color: white;
}

.contact-section {
justify-content: center;
background: linear-gradient(180deg, rgba(10, 37, 44, 0.932) 75%, rgba(5, 20, 26, 0.938) 100%);
border-radius: 10px;
padding: 10px 15px 20px;
margin: 10px 0px 0px;
color: var(--third-color);
}

.contact-section h3 {
font-family: var(--heading-font-family);
font-weight: 600;
font-size: 42px;
line-height: 1;
}

.contact-section p {
color: var(--third-color);
font-size: 22px;
}

.social {
display: flex;
text-align: center;
justify-content: center;
}

.icon {
font-size: 30px;
color: var(--secondary-color);
}

.icon:hover {
background: rgba(201, 107, 163, 0.452);  
border-radius: 50%;  
}

.icon-link {
font-size: 16px;
color: var(--secondary-color);
text-decoration: none;    
}

#email {
color: var(--secondary-color);
}

#email:hover,
.icon-link:hover {
color: var(--primary-color);
}

.icon-contact-page {
font-size: 44px;
color: var(--secondary-color);
}    
    .content-container {
margin-top: 80px;
color: var(--secondary-color);
padding: 60px 20px;
}

.content h1 {
font-size: 64px;
line-height: 80px;
}

.content h3 {
font-size: 24px;
font-weight: 600;
line-height: 1.5;
font-family: var(--default-font-family);
}

.content p {
color: var(--secondary-color);
font-size: 20px;
margin: 0;
}

footer p {
font-size: 15px; 
line-height: 1;
color: var(--secondary-color);
}

@media (max-width: 900px) {
.top-wrapper {
    margin-top: 50px;
    padding: 150px 20px;
}
.project-description h3, .content h1, h1 {
    font-size: 50px;
    line-height: 1,5;
}
.contact-section h3, #projects, h3 {
font-size: 20px;
}

.contact-section p {
margin-inline: 10px;
margin-bottom: 20px;
}

.contact-section a, .contact-section p, p {
font-size: 16px;
padding: 10px 20px;
}

.project-description {
    padding: 0;
    text-align: center;
}
.launch-link {
display: flex;
justify-content: center ;
}
.index-app-img {
display: none;
}
}
