:root {
    --primary-color: rgb(201, 107, 163, 0.9);
    --secondary-color: rgba(10, 37, 44, 0.932);
    --transform: all 200mm ease-in-out;
    --link-bg-color: rgba(255, 255, 255, 0.082);
    --heading-font-family: 'Playfair Display';
    --default-font-family: 'Poppins';
}

body {
max-width: 3000px;
}

.top-wrapper {
background: linear-gradient(180deg, rgba(10, 37, 44, 0.932) 75%, rgba(5, 20, 26, 0.938) 100%);
background-repeat: no-repeat;
height: fit-content;
padding: 248px 4px; 
text-align: center;
margin-bottom: 80px;
color: var(--primary-color);
}

h1 {
font-size: 96px;
margin-bottom: 20px;
font-family: var(--heading-font-family);
font-weight: 600;
}

h2 {
font-family: var(--default-font-family);
font-weight: 700;
font-size: 36px;
margin-top: 100px;
}

h3 {
font-family: var(--default-font-family);
font-weight: 300;
font-size: 26px;
}

h4 {
font-family: var(--default-font-family);
color: var(--secondary-color);
font-weight: 600;
font-size: 26px;      
}

.get-started {
border-color: transparent ;
border-radius: 10px;    
background-color: var(--link-bg-color);
padding: 18px 50px;   
font-size: 20px;
font-family: var(--default-font-family);
color: rgb(253, 138, 207);
text-decoration: none;
text-transform: all 200mm ease-in-out;
}

.get-started:hover {
padding: 22px 58px;  
font-size: 20px;
color: rgb(253, 138, 207);
}

#projects {
font-family: var(--default-font-family);
font-weight: 200;
font-size: 30px;
color: var(--primary-color);
}

img {
padding: 5px 0px;
border-radius: 10px;
text-transform: var(--transform);
}

.project-description {
padding: 10px 10px;
}

.project-description h3 {
color: var(--primary-color);
font-family: var(--heading-font-family);
font-weight: 600;
font-size: 64px;
}

p {
padding: 20px 0px;
color: var(--primary-color);
font-family: var(--default-font-family);
font-weight: 400;
font-size: 20px;
line-height: 30px;
margin-bottom: 30px;
}

.launch-link {
display: 1 flex;
color: var(--primary-color);
border: rgb(201, 107, 163) solid 1px;
padding: 15px 30px;
border-radius: 10px;
text-decoration: none;
text-transform: var(--transform);
}

.launch-link:hover {
color: var(--primary-color);
padding: 26px 36px;
}

.contact-section {
justify-content: center;
background: linear-gradient(180deg, rgba(10, 37, 44, 0.932) 75%, rgba(5, 20, 26, 0.938) 100%);
border-radius: 10px;
padding: 10px 10px 20px;
margin: 10px 0px 0px;
color: var(--primary-color);
}

.contact-section h3 {
font-family: var(--heading-font-family);
font-weight: 600;
font-size: 42px;
line-height: 1;
}

.social {
display: flex;
text-align: center;
justify-content: center;
}

.icon {
font-size: 46px;
color: var(--secondary-color);
}

.icon-link {
font-size: 18px;
color: var(--secondary-color);
text-decoration: none;    
}

.icon-link:hover {
color: var(--primary-color);
}
    
nav {
background: rgba(10, 37, 44);
padding: 6px 0px;
font-size: 16px;
padding-bottom: 6px;
margin: 0;
}

.logo {
font-family: var(--default-font-family);
font-weight: 700;
color: #ffff;
}

nav a {
text-decoration: none;
color: #ffff;
padding-left: 20px;
transition: var(--transform);
}

nav li {
display: inline;
list-style: none;
font-family: var(--default-font-family);
}

nav a:hover, 
nav li.active a {
color: var(--primary-color);
font-weight: 600;
}

.content-container {
margin-top: 80px;
color: var(--secondary-color);
padding: 60px 20px;
}

.content h1 {
font-size: 64px;
line-height: 80px;
}

.content h3 {
font-size: 24px;
font-weight: 600;
line-height: 1.5;
font-family: var(--default-font-family);
}

.content p {
color: var(--secondary-color);
font-size: 20px;
margin: 0;
}
@media (max-width: 900px) {
.top-wrapper {
    padding: 80px 20px;
}
.project-description h3, .content h1, h1 {
    font-size: 54px;
    line-height: 1,5;
}
h3 {
    font-size: 20px;
}
.project-description {
    padding: 0;
    text-align: center;
}
#projects {
    font-size: 20px;
}
.launch-link {
display: flex;
justify-content: center ;
}
.index-app-img {
display: none;
}
}
